.preview-image {
  width: 10%;
  border-radius: 5%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
#address-span{
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10px;
}
