button {
    cursor: pointer;
}

.restaurant-details-container img {
    width: 100%;
    height: 120px;
    border-radius: 10px 10px 10px 10px;
}

.restaurant-details-container{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px;
}

.all-restaurants-container{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

#categories-bar-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding-right: 45px;
    gap: 10px;
}

#categories-bar-container img {
    height: 60px;
}

.image-container {
  position: relative;
  width: 60px;
}

.image-container:hover::before {
  opacity: 1;
}

#cat-hr{
  width:95%;
  border:  .5px solid lightgrey;
}

#middle-header-container{
  height: 200px;
  padding: 0 35px;
}

#middle-header-container{
    display: flex;
    gap: 10px;
    margin-top: 30px;

}
#middle-header-container img{
    height: 150px;
    width: 300px;
}


#main-body-container{
   display: flex;
   min-height: 100vh;
   align-items: flex-start;
}

#restaurants-sidebar{
    position: sticky;
    width: 90%;
    top: 30px;
    display: inline;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#offers-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 30px;
}
