.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header{
  display: flex;
  /* border-bottom: solid 2px lightgrey; */
  list-style-type: none;
  /* justify-content: space-between; */
  align-items: center;
  margin: 0;
  padding-left: 20px ;
  padding-right: 20px;
  height: 70px;
  }

#logo-image{
  width: 200px;
  height: 70px;
}

.nav-bar-search-bar{
  margin: 0 auto;
  /* background-color: red; */
}

.user-nav button{
  /* background-color: blue; */
  border: none;
  font-size: 23px;
  background-color: white;
}

#menu-drop-down{
  background-color: white;
  z-index: 1;
  width: 200px;
  padding: 20px;
  list-style-type: none;
  border: black 2px solid;
  border-radius: 7px;
}

#menu-drop-down li{
  padding-top: 10px;
  padding-bottom: 20px;
  text-decoration: none;
  /* background-color: aqua; */
  text-align: center;
}

#user-name-container{
  color:white;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  border-radius: 7px;
  margin: 20px auto;
}

.menu-button {
  margin-top: 30px;
  box-shadow: 2px 2px;
  background-color: black;
  border: none;
  color: white;
  /* margin-right: 0px; */
  width: 150px;
  border-radius: 7px;
  height: 30px;
  font-family: 'Wix Madefor Display', sans-serif;
}

.menu-navLinks{
  text-decoration: none;
}

.create-new-restaurant{
  margin-top: 40px;
}

#sign-in-container{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin-right: 40px;
}

#sign-in-container button{
  height: 40px;
}
.manage-account{
  /* background-color: red; */
  margin-top: 50px;
}
