body {
    font-family: 'Wix Madefor Display', sans-serif;
}

.all-reviews-container {
    /* border: 1px solid red;
    display: flex;
    flex-direction: column; */
}

.create-review-button-container{
    margin-left: 22px;
}

.review-container h4 {
    /* border: 1px solid red; */
    margin: 0px 5px 0px 0px;
}

.review-container div {
    /* border: 1px solid red; */
    display: flex;
    margin: 5px;
}

.review-container a {
    /* border: 1px solid red; */
    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: 600;
}

.review-container {
    border-bottom: 1px solid black;
    margin: 20px;
    font-size: 14px;
}

.review-stars div {
    /* border: 1px solid red; */
    margin: 0px;
}

.update-delete-button button {
    /* border: 1px solid red; */
    margin: 5px;
    padding: 5px;
}
