.sign-up-modal-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  /* justify-content: center;
  align-content: center; */
  align-items: center;
}

.sign-up-email-container,
.sign-up-username-container, .sign-up-password-container, .sign-up-confirm-password-container {
  margin-bottom: 20px;
}

.sign-up-button {
  text-align: center;
  margin-bottom: 20px;
}

.sign-up-button-btn {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 500;
  background-color: black;
  color: white;
  font-size: 11px;
  padding: 4px 6px;
  border: none;
  border-radius: 7px;
}
