.reviewModal {
    border: 5px solid black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}

.reviewTitle {
    text-align: center;
    margin: 15px;
}

.reviewInput {
    border: 2px solid black;
    width: 90%;
    margin-left: 15px;
    height: 100px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.reviewErrorsText {
    /* border: 1px solid red; */
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.reviewInput #value {
    color: red;
}

.starRatingContainer {
    /* border: 1px solid red; */
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: center;
}

.starRatingContainer div {
    /* border: 1px solid blue; */
    font-size: 20px;
}

.starsText {
    margin-left: 5px;
}

.submitReviewButton {
    border: 2px solid black;
    border-radius: 0px;
    background-color: #FF5A60;
    color: white;
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 20px 15px;
    box-shadow: 3px 3px 1px black;
}

.submitReviewButton:disabled {
    background-color: white;
    color: gray;
    border: 2px solid gray;
    box-shadow: 3px 3px 1px gray;
}
