#modal-content {
    /* border: 1px solid red; */
    border-radius: 7px;
}

.reviewModal h2 {
    /* border: 1px solid red; */
    text-align: center;
    margin: 10px 5px 5px;
}

.reviewModal {
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.reviewTitle {
    text-align: center;
    margin: 15px;
}

.textareaContainer {
    /* border: 1px solid red; */
    text-align: center;
}

.reviewInput {
    border: 2px solid black;
    width: 90%;
    margin: 10px;
    height: 100px;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif;
}

.reviewErrorsText {
    /* border: 1px solid red; */
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.reviewInput #value {
    color: red;
}

.starRatingContainer {
    /* border: 1px solid red; */
    text-align: center;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.starRatingContainer div {
    /* border: 1px solid blue; */
    font-size: 20px;
}

.starsText {
    margin: 0px 5px;
}

.submitReviewButton {
    border: 2px solid black;
    border-radius: 0px;
    background-color: #FF5A60;
    color: white;
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 20px 15px;
    box-shadow: 3px 3px 1px black;
}

.submitReviewButton:disabled {
    background-color: white;
    color: gray;
    border: 2px solid gray;
    box-shadow: 3px 3px 1px gray;
}

.reviewButtons {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0px 5px 5px;
}

.reviewButtons button {
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    margin: 0px 2px 7px;
    background-color: black;
    color: white;
    font-size: 11px;
    padding: 4px 6px;
    border: none;
    border-radius: 7px;
    /* width: 45%; */
}

.reviewButtons button:disabled {
    /* border: 2px solid red; */
    background-color: gray;
}

.reviewForm .error {
    /* border: 1px solid red; */
    color: red;
    margin: 10px;
    text-align: center;
}

.bottomError {
    /* border: 1px solid red; */
    color: red;
    margin: 0px 10px 15px;
}
