#empty-cart{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#empty-cart button{
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    margin-top: 40px;
    width: 200px;
    height: 40px;

}
